<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/main.css" />
<html data-theme="light"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/about' }) %>
    <div class="container mx-auto">

      <div class="hero bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello!</h1>
            <p class="py-6">I'm a web developer who loves coding and learning new technologies.
              I'm currently enrolled in Computer Programming and Analysis. In my free time, I enjoy playing video games,
              exercising, watching tv shows/movies.</p>
          </div>
        </div>
      </div>

      <br><br><br>



      <div class="flex flex-row gap-2 items-center justify-center">

        <div class="row-span-2" class="artboard phone-2" class="artboard-demo">
          <figure>
            <img src="https://media.tenor.com/QWB9MQaMVKMAAAAC/cat-type.gif" alt="Shoes" />
          </figure>
        </div>

        <div>
          <div class="grid w-32 h-10 rounded bg-primary text-primary-content place-content-center">OOP345</div>
          <div class="grid w-32 h-10 rounded bg-accent text-accent-content place-content-center">SYD366</div>
          <div class="grid w-32 h-10 rounded bg-secondary text-secondary-content place-content-center">WEB322</div>
          <div class="grid w-32 h-10 rounded bg-accent text-secondary-content place-content-center">DBS311</div>
        </div>

      </div>


    </div>


</body>
</html>